body {
    background-color: hsl(212, 45%, 89%);
}
/* styling the main content */
.sub-container {
    width: 220px;
    height: 380px;
    background-color: hsl(0, 0%, 100%);
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    border-radius: 1rem;  
}
/* styling the bar code image */
.sub-container img {
    height: 230px;
    width: 220px;
    border-radius: 0.8rem;
}
/* styling the main content heading */
.sub-container h1 {
 font-size: 16px;
 font-weight: 400, 700;
 text-align: center;
 margin-top: 20px;
 margin-bottom: -15px;
 font-family: 'Outfit', sans-serif;
}
/* styling the main content paragraph */
.sub-container p {
    font-size: 12px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
}